.search {
	border-radius: 8px;
	padding: 8px 4px;
	display: flex;
	align-items: center;
	border: 1px solid var(--color-primary);
	width: 300px;
	color: var(--color-primary);

	> svg {
		margin-right: 8px;
		font-size: 36px;
		fill: var(--color-primary);
	}

	> input {
		border: none;
		color: var(--color-primary);
		display: blick;
		width: 100%;
		background: transparent;
		outline: none;
	}

	&:focus-within {
		border: 1px solid var(--color-dark-primary);
		border-color: var(--color-dark-primary);
		::-webkit-input-placeholder {
			color:    var(--color-dark-primary);
		 }
		> svg {
			fill: var(--color-dark-primary);
		}
	}
}