.navigation {
	padding: 14px 0 14px 14px;
	background: var(--color-background);
}

.logo {
	font-size: 14px;
	text-align: center;
	color: var(--color-primary);
	text-decoration: none;
	margin-bottom: 100px;
}